@import url("https://fonts.googleapis.com/css?family=Poppins:200,400|Work+Sans:400,700");

.container {
  display: flex!important;
}


.main-panel {
  text-align: center;
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  vertical-align: middle;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 10px;
  display: inline-flex;
  margin-left: 1px;
  border-radius: 10%;
}

.button {
  margin: 5px 5px 5px 5px!important;
}

.blue {
  background-color: cadetblue!important;
}