.container {
  display: flex!important;
}

.drawer {
  width: 200px;
  position: relative;
  white-space: nowrap;
}

.main-panel {
  text-align: center;
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

.bar {
  border-left: 6px solid green;
  display: inline-flex;
}
